<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822452628192-0t9nchv376qv65o1828ts05dbcj3u80h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822452628192-0t9nchv376qv65o1828ts05dbcj3u80h</string>
	<key>API_KEY</key>
	<string>AIzaSyA5bfGDmZFuD11RKQUJygJXkbWy3YuzXIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>822452628192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.IOSPost</string>
	<key>PROJECT_ID</key>
	<string>ios-post-32521</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-post-32521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822452628192:ios:01d5cc208c19a0fd84fe85</string>
</dict>
</plist>